
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}

#mc_embed_signup {

  form {
    border: 1px solid #999999;
    margin-top: 80px;
    padding: 20px !important;
    border-radius: 3px;

    h2 {
      margin-top: 0;
    }

    p {
      font-weight: lighter;

      span {
        display: block;
      }
    }

    .mce_inline_error {
      padding-left: 0 !important;
    }

    .mc-field-group {
      width: 100%;

      label {
        font-size: 15px;
      }
    }

    #mce-responses {
      .response {
        margin-top: 0 !important;
        padding-top: 0 !important;
      }
    }
  }

  #mc-embedded-subscribe {
    margin: 0;
    border-radius: 3px;
    height: 40px;
    background-color: #007095;
  }
}
