---
layout: default
---

<div class="post-header mb2">
  <h1>{{ page.title }}</h1>
  <span class="post-meta">{% include localized_date.html date=page.date %}
  {% if page.update_date %}
    <span class="post-meta">{{ site.text.post.updated }}: {% include localized_date.html date=page.update_date %}</span><br>
  {% endif %}
</div>

<article class="post-content">
  {{ content }}
</article>

{% include post/show-sharing-icons.html %}
{% include post/show-post-footers.html %}
{% include post/show-disqus.html %}
{% include post/show-facebook-comments.html %}
{% include post/show-mailing-list-form.html %}
