---
layout: default
---

<div class="post-header mb2">
  <h1>{{ page.title }}</h1>
  <span class="post-meta">{{ page.date | date: site.date_format }}</span><br>
  {% if page.update_date %}
    <span class="post-meta">{{ site.text.post.updated }}: {{ page.update_date | date: site.date_format }}</span><br>
  {% endif %}
</div>

<article class="post-content">
  {{ content }}
</article>

{% if site.show_sharing_icons %}
  {% include share_buttons.html %}
{% endif %}

{% if site.show_post_footers %}
  {% include post_footer.html %}
{% endif %}

{% if site.disqus_shortname %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname  = '{{ site.disqus_shortname }}';
    var disqus_identifier = '{{ page.id }}';
    var disqus_title      = '{{ page.title }}';

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

{% if site.facebook_comments %}
  <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%" data-numposts="{{ site.facebook_comments_number }}"></div>
{% endif %}

{% if site.show_related_posts %}
  <h3 class="related-post-title">{{ site.text.post.related_posts }}</h3>
  {% for post in site.related_posts %}
    <div class="post ml2">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h4 class="post-title">{{ post.title }}</h4>
      </a>
    </div>
  {% endfor %}
{% endif %}

{% if site.show_mailing_list_form %}
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//hoangtran.us1.list-manage.com/subscribe/post?u=5365241c266315ff943db64c7&amp;id=0a26c79af4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Hoang Tran Weekly iOS Awesomeness</h2>
  <p><span>Subscribe to receive great contents about various iOS development topics right into your mailbox.</span><span>I do not spam. I only add values.</span></p>
<div class="mc-field-group">
	<label for="mce-FULLNAME">Full Name </label>
	<input type="text" value="" name="FULLNAME" class="required" id="mce-FULLNAME">
</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address </label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5365241c266315ff943db64c7_0a26c79af4" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FULLNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
{% endif %}
